<div data-role="view" data-title="MENU" data-layout="main" data-model="app.menu" data-show="app.menu.onShow" data-after-show="app.menu.afterShow" id="menuScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-role="view-title"></span>

        </div>
    </header>

    <!-- START_CUSTOM_CODE_menu_principal -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="subheader">        
        <div class="row">
            <div class="col"> <button class="button" onclick="abrirPagina('lector_barras');">DATOS VEHICULO</button> </div>
        </div>
    </div>



    <!-- END_CUSTOM_CODE_menu_principal -->

</div>
